[Unit]
Description=Hello World Web App
After=network.target

[Service]
User=sergey
WorkingDirectory=/home/sergey/apps/
ExecStart=/home/sergey/apps/venv/bin/python /home/sergey/apps/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


#Task 5
